h1 {
    color: rgb(0, 0, 0);
    margin-top: 150px;
    font-family: 'Roboto', sans-serif;
    text-align: center;  
}

h2 {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;  
}

.fa-trash-alt {
    content: "\f1f8";
    color: rgb(0, 0, 0);
}

.fa-cogs {
    content: "\f2ed";
    color: rgb(0, 0, 0);
}

button{
    color:rgb(0, 0, 0);
    background-color:#ffffff;
    border-color: #ffffff;
    border-style: solid;
}

thead{
    background-color: #B0E0E6;
}